<section id="section1" class="hero plumb w-100" style="">
    <div class="container" style="margin-top: 7rem;">
        <div class="row">
            <div class="mx-auto">
                <h1 class="hero-title headline text-center pb-0 mb-0">JIMI FLYNN</h1>
                <p class="hero-subtitle text-white mt-0 pt-0 text-center">
                    <b class="text-white text-center mt-0 pt-0">designer | developer | problem solver</b>
                </p>
            </div>
            
        </div>
        <div class="row">
            <div class="hero-image mx-auto">
                <img id="portrait" src="assets/img/portrait.png" width="70" alt="" class="p-1">
            </div>

        </div>
    </div>
    <div class="balls-wrapper w-100 h-100">
    </div>
</section>
<section id="section2" class="hero cherry  bg-darken-4">
    <div class="container">
        <div class="row">
            <div class="about-image">
                <img src="assets/img/skyline@2x.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="mx-auto">
                <h3 class="lead text-dark text-center">Amet esse sint Lorem quis do enim do deserunt. Id minim ad elit quis. Nisi consequat nisi pariatur consectetur irure exercitation eu.</h3>
                
            </div>
        </div>
        
    </div>
</section>
<section id="section3" class="hero bg-info">
    <div class="container">
        <div class="row">
            
        </div>
        <div class="row">
            <div class="mx-auto">
                <h3 class="lead text-dark text-center">Amet esse sint Lorem quis do enim do deserunt. Id minim ad elit
                    quis. Nisi consequat nisi pariatur consectetur irure exercitation eu.</h3>

            </div>
        </div>

    </div>
    <div class="d-flex">
        <div class="decal justify-content-center">
            <div class="outline-box">
                <!-- <div class="gradient-box"></div> -->
            </div>
        </div>
    </div>
</section>
<section id="section4" class="hero bg-dark">
    <div class="container">
        <div class="row">
            
        </div>
        <div class="row">
            <div class="mx-auto">
                <h3 class="lead text-dark text-center">Amet esse sint Lorem quis do enim do deserunt. Id minim ad elit
                    quis. Nisi consequat nisi pariatur consectetur irure exercitation eu.</h3>

            </div>
        </div>

    </div>
</section>
<div class="scroller-toggle mx-auto">
    <button class="btn btn-link text-center next-button" (click)="scrollToNext(animation.GSAP)">
        <i class="fa fa-2x" [ngClass]="active > 3 ? 'fa-long-arrow-up':'fa-long-arrow-down'"></i></button>
</div>