

@keyframes RotateClockwise {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(5020deg);
    }
}

@keyframes RotateCounterClockwise {
    0% {
        transform: rotateZ(0);
    }

    100% {
        transform: rotateZ(5020deg);
    }
}

@keyframes LiftCannon {
    0% {
        transform: rotateZ(0);
    }

    100% {
        transform: rotateZ(-20deg);
    }
}

@keyframes LowerCannon {
    0% {
        transform: rotateZ(-20deg);
    }
    
    100% {
        transform: rotateZ(0);
    }
}