.hero-list {
    width: 100vw;

    ul {
        margin: 0 auto;
        list-style: none !important;

        li {
            margin: 1em auto;
            color: $light;
            background-color: transparent;
        }
    }
}

#section3 {
    .graph-overlay {
        position: absolute;
        z-index: 1011;
        width: 100vw;
        margin: 0;
        padding: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, .25);
    }

    .graph-controls {
        position: absolute;
        width: 100vw;
        bottom: 10rem;
        z-index: 1012;

        button {
            margin: .5rem;
        }
    }
}