#loader {
    z-index: 1009;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    h1 {
        position: absolute;
        font-size: 8em;
        margin-top: 100px;
        z-index: 2000;
        background: linear-gradient(210deg, $light, lighten($primary, 50));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        small {
            font-size: 50%;
        }
        @include media-breakpoint-down(sm) {
            font-size: 4em;
        }
    }

    img.loader {
        position: absolute;
        width: 100px;
        bottom: calc(50vh - 25px);
        left: calc(50vw - 50px);
    }



    .clip-wrapper {
        .clip-text {
            height: 100vh;
            padding-top: 30vh;

            p {
                font-size: 7rem;

                @include media-breakpoint-down(sm) {
                    font-size: 40px;
                }
            }

            &:after {
                background-color: $dark;
            }
        }
    }

}