$kale: rgb(47, 56, 59);
$plumb: rgb(91, 32, 85);
$cherry: rgb(169, 44, 73);
$orange: rgb(210, 75, 71);
$peach: rgb(251, 121, 99);
$neo-green: rgba(32, 235, 19, 0.7);
$primary: $plumb;
$secondary: $orange;
$accent: $neo-green;