$kale: rgb(47,56,59);
$plumb: rgb(91,32,85);
$cherry: rgb(169,44,73);
$orange: rgb(210,75,71);
$peach: rgb(251,121,99);


$primary: $plumb !default;
$secondary: $orange !default;
$accent: $kale default;