/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Roboto&display=swap');
@import 'variables';
@import '~bootstrap/scss/bootstrap.scss';
@import '~font-awesome/css/font-awesome.css';
@import '~aos/dist/aos.css';
@import 'animations';
@import 'theme';
@import 'typography';
@import 'loader';
@import 'slider';
@import 'navbar';
@import 'sidenav';
@import 'home';


html,
body {
    overflow-x: hidden !important;

    ::-webkit-scrollbar {
        display: none;
    }
}


.graph-wrapper svg {
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;

    .line {
        fill: none;
        stroke: url(#line-gradient);
    }

}

.scroller-toggle-wrapper {
    opacity: 0;
    z-index: 1010;
    position: fixed !important;
    width: 50px;
    height: 100px;
    bottom: calc(50vh - 50px);
    right: -150px;

    .scroller-toggle {
        text-align: center;
        margin: 5px 0;

        span {
            transition: all .35s ease-out;
            color: rgba(255, 255, 255, .3);
        }

        &:hover span {
            color: white;
        }
    }

    .btn {
        border: 1px solid rgba(255, 255, 255, .5);
        border-radius: 50%;
        width: 40px;
        height: 40px;
        ;
        background: transparent;
        transition: all .35s ease-out;
        color: rgba(255, 255, 255, .5);
        margin: 0 .5em;
        font-weight: 100;

        &:hover {
            border-color: white;
            color: white;
        }

        &:disabled {
            border-color: rgba(255, 255, 255, .1);
            color: rgba(255, 255, 255, .1);
        }

        &:focus {
            box-shadow: none !important;
            text-decoration: none !important;
        }
    }
}

.hero {
    position: relative;
    z-index: 900;
    top: 0;
    height: 100vh;
    max-height: calc(100vh + 70px);
    overflow: hidden;

    @include media-breakpoint-down(sm) {
        max-height: calc(100vh + 70px);
    }

    .sentence.fade-in {
        opacity: 1;
        margin-top: -20px;
    }

    .sentence.fade-out {
        opacity: 0;
        margin-top: -240px;
    }

    .hero-title {
        z-index: 2000 !important;
        opacity: 0;
        margin-top: -25vh;
       
        svg {
            width: 60vw;
            
            @include media-breakpoint-down(sm) {
                width: 90vw;
            }
            #last-name > .letters > * {
                transform: translateX(-100%);
                opacity: 0;
            }
        }
    }

    .hero-subtitle {
        opacity: 0;
        transform: scale(0);
        z-index: 1000 !important;
        overflow: hidden;
    }

    .hero-image {
        z-index: 998;
        transition: all .5s ease-in-out;

    }

    .scroll-down-text {
        opacity: 0;
    }

}

.projects {}



// .decal {
//     position: absolute;
//     transform: rotate(315deg) scale(3);
//     left: calc(50% - 75px);
//     bottom: -88px;
//     width: 175px;
//     height: 175px;
//     border: #fff solid 15px;
//     background-color: transparent;
//     box-shadow: $box-shadow;
//     z-index: 1000;

//     .outline-box {
//         width: 160px;
//         height: 160px;
//         transform-origin: left;
//         box-sizing: content-box;
//         transform: translate(-8px, -8px);
//         border: 1px $cherry dashed;
//         background-color: transparent;
//         // transform: rotate(315deg);
//         z-index: 1001;
//     }

//     .gradient-box {
//         height: 100px;
//         width: 100px;
//         margin: 30px;
//         // transform: translate(315deg);
//         background: linear-gradient(45deg, rgb(91, 32, 85), rgb(47, 22, 59));
//     }
// }

#details_list {
    height: 50vh;
    max-height: 400px;

    li {
        background: transparent !important;
        cursor: pointer;
    }
}

#portrait>* {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    stroke: lighten($primary, 50) !important;
    
}
#portrait:hover {
    .path {
        stroke-dashoffset: 500;
    }
}