<nav class="navbar navbar-expand fixed-top plumb">
  <!-- Navbar Toggler -->
  <div class="classy-navbar-toggler" role="button" (click)="toggleMenu()">
    <span class="navbarToggler" [ngClass]="showMenu ? 'active':''"><span></span><span></span><span></span></span>
  </div>
    <!-- <ul class="nav navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">Nav 1 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Nav 2</a>
        </li>
    </ul> -->
</nav>

<aside id="sidenav-wrapper">
    
      <div class="mx-auto logo">
        <img class="" width="100" src="assets/svg/logo.svg" alt="">
      </div>
      <div class="Menu">
        <ul class="Menu-list px-0">
          <li class="Menu-list-item">
            Home
            <span class="Mask"><span>Home</span></span>
            <span class="Mask"><span>Home</span></span>
          </li>
          <li class="Menu-list-item">
            About
            <span class="Mask"><span>About</span></span>
            <span class="Mask"><span>About</span></span>
          </li>
          <li class="Menu-list-item">
            Work
            <span class="Mask"><span>Work</span></span>
            <span class="Mask"><span>Work</span></span>
          </li>
          <li class="Menu-list-item">
            Contact
            <span class="Mask"><span>Contact</span></span>
            <span class="Mask"><span>Contact</span></span>
          </li>
        </ul>
      </div>

    
</aside>
<main id="main-wrapper">
  <router-outlet></router-outlet>
</main>
<div id="loader" class="">
  <!-- <img src="assets/svg/loader.svg" class="loader" alt="Loading image"> -->
  
  <h1 data-aos="fade-down" data-aos-delay="350" class="w-100 text-center">HI!<br><small>My name is...</small></h1>
  <div class="clip-wrapper font-sm no-border">
    <div class="clip-text clip-text--cover"
      [style.background-image]="'url(assets/img/galaxy.jpg)'">
      <p>___________</p></div>
  </div>
  
</div>